@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
    width: 90%;
    max-width: 370px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 4px rgba(20, 20, 20, 0.1), 0px 8px 15px rgba(20, 20, 20, 0.12);
    border-radius: 6px;
}

.pages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.all-pages,
.page-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px 8px 22px;
    width: 100%;
    background: #FFFFFF;
}

.page-item span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #1F2128;
    display: flex;
    align-items: center;
}
.checkbox {
    width: 35px;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}

.checkbox:hover::before {
    background-image: url("assets/hovered.svg");
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox:active::before {
    background-image: url("assets/clicked.svg");
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 0px 4px rgba(100, 137, 212, 0.24);
}

.checkbox:checked:active::before {
    background-color: #5087F8;
    border: 1px solid #5087F8;
    box-shadow: 0px 0px 0px 4px rgba(100, 137, 212, 0.24);
}

.checkbox::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    top: 6.5px; /* vertical offset */
    left: 6px; /* horizontal offset */
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.checkbox:checked::before {
    background: #2469F6;
    border: 1px solid #2469F6;
    transition: background-color 0.3s ease;
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: calc(2.5px + 7px);
    left: calc(2px + 6.5px);
    background-image: url("assets/picked.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox:checked:hover::before {
    background: #5087F8;
    border: #5087F8;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0 15px 10px 15px;      
    width: 100%;
}

.done-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    max-width: 340px;
    height: 40px;
    background: #FFCE22;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.done-btn span {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #1F2128;
}

.done-btn:hover,
.done-btn:active {
    background-color: #FFD84D;
}

.separator-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 15px;
    width: 100%;
}

.separator {
    width: 100%;
    height: 0;
    border: 0.7px solid #CDCDCD;
}

/* RESPONSIVENESS */
/* @media (max-width: 480px) {
    .container {
        padding: 8px 0;
        width: 95%;
    }

    .page-item,
    .all-pages {
        padding: 8px 10px;
    }

    .done-btn {
        width: 100%;
        max-width: none;
    }

    .page-item span {
        font-size: 13px;
    }
} */

@media (max-width: 600px) {
    body {
        transform: scale(0.9);
        transform-origin: top center;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
        transform: scale(1);
        height: auto;
        padding: 10px;
    }
    .done-btn {
        width: 100%;
    }
}